body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.foto-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: 170px;
  margin-top: 20px;
}

.container {
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

/* Perfil */
.profile-section {
  width: 30%;
  text-align: center;
}

.profile-pic {
  width: 100px;
  height: 200px;
  background-color: gray;
  border-radius: 50%;
  margin-bottom: 10px;
}

button {
  display: block;
  font-size: 25px;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.rating {
  margin-top: 20px;
  font-size: 18px;
}

/* Carrossel */
.carousel-section {
  width: 60%;
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.item {
  min-width: 160px;
  height: 250px;
  background-color: gray;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  border-radius: 30px;
}

.arrow {
  position: absolute;
  top:70%;
  transform: translateY(-90%);
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
}

.arrow.left {
  left: 10;
}

.arrow.right {
  right: 0;
}
