html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, rgb(75, 75, 144), #936dec);
  padding-top: 100px;
}

.menu {
  background-color: rgb(40, 40, 74);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo-img {
  width: 50px;
  height: auto;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form.d-flex {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
}

form.d-flex input.form-control[type="search"] {
  flex: 1;
  width: 100% !important;
  max-width: 400px !important;
  min-width: 150px;
  margin-right: 10px;
}

#btn-search {
  color: white;
  border: 1px solid #936dec;
}

#btn-search:hover {
  color: white;
  background-color: rgb(40, 40, 74);
  ;
}

.titulo {
  margin-top: 40px;
  padding-left: 20px;
}

.anuncio-filmes {
  background-color: transparent;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px;
}

.texto-sobre-imagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 8px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}

.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}

.wrapper section .item {
  position: relative;
  padding: 0 2px;
  transition: all 250ms;
}

.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
}

.wrapper section .item img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .anuncio-filmes {
    max-width: 90%;
  }

  .carousel-inner img {
    height: auto;
  }

  .wrapper section {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 480px) {
  .carousel-inner img {
    height: 180px;
  }

  .wrapper section {
    grid-template-columns: repeat(2, auto);
  }

  form.d-flex input.form-control[type="search"] {
    max-width: 250px;
  }

  #carouselExampleIndicators .carousel-inner {
    max-height: none;
  }

  #carouselExampleIndicators .carousel-inner img {
    height: auto;
  }
}


.imagem-com-texto {
  position: relative;
  display: inline-block;
}

.imagem-com-texto img {
  width: 100%;
  border-radius: 8px;
}

.carousel-caption h5 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 8px #000;
}

.carousel-caption p {
  font-size: 1.2rem;
  color: #ddd;
  text-shadow: 1px 1px 5px #000;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#carouselExampleIndicators{
  max-height: 400px;
  overflow: hidden;
  border-radius: 15px;
  object-position: center;
}

#carouselExampleIndicators .carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}